.assortment {
  background-color: $assortment-background;
  background-image: url("../img/assortment-bg.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;
}

.assortment__wrapper {
  max-width: 1150px;
  margin: 0 auto 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
  }
}

.assortment__title {
  margin: 0;
  padding: 73px 30px 120px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    padding: 156px 50px 371px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 158px 50px 355px;
    font-size: 53px;
    line-height: 57px;
  }
}

.assortment__list {
  @include list-reset;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.assortment__item {
  width: 100%;
  cursor: pointer;
}

.assortment__item--decor {
  background-color: $assortment-item-decor-background;

  &:hover,
  &:focus,
  &:active {
    background-color: $assortment-item-decor-background-active;
  }
}

.assortment__item--toys {
  background-color: $assortment-item-toys-background;

  &:hover,
  &:focus,
  &:active {
    background-color: $assortment-item-toys-background-active;
  }
}

.assortment__link {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  min-height: 103px;
  padding: 24px 112px 31px 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  align-items: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding: 26px 112px 31px 36px;
    font-size: 20px;
    line-height: 30px;
  }
}
