.assortment {
  position: relative;
  background-color: $assortment-background;
  background-image: url("../img/assortment-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/assortment-bg-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/assortment-bg-tablet-desktop.jpg");
    background-position: center 0;
    background-size: 768px auto;

    &::after {
      content: "";
      position: absolute;
      bottom: -14px;
      left: 0;
      right: 0;
      height: 24px;
      background-image: url("../img/assortment-zigzag-tablet.svg");
      background-repeat: repeat-x;
      background-position: 0 0;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/assortment-bg-tablet-desktop@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      height: 34px;
      bottom: -19px;
      background-image: url("../img/assortment-zigzag-desktop.svg");
      background-position: center 0;
      background-size: 1254px 34px;
    }
  }
}

.assortment__wrapper {
  max-width: 1150px;
  margin: 0 auto 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
  }
}

.assortment__title {
  margin: 0;
  padding: 72px 30px 120px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    padding: 156px 50px 366px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 158px 50px 350px;
    font-size: 53px;
    line-height: 57px;
  }
}

.assortment__list {
  @include list-reset;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.assortment__item {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover,
  &:focus-within {
    .assortment__link::after {
      opacity: 0.7;
    }
  }

  &:active .assortment__link::after {
    opacity: 0.3;
  }


  &--decor {
    background-color: $assortment-item-decor-background;

    &:hover,
    &:focus-within,
    &:active {
      background-color: $assortment-item-decor-background-active;
    }
  }

  &--toys {
    background-color: $assortment-item-toys-background;

    &:hover,
    &:focus-within,
    &:active {
      background-color: $assortment-item-toys-background-active;
    }
  }


  .assortment__link::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
  }

  &--decor .assortment__link::after {
    width: 40px;
    height: 62px;
    right: 36px;
    background-image: url("../img/assortment-decor.svg");
    background-position: 0 0;
  }

  &--toys .assortment__link::after {
    width: 60px;
    height: 60px;
    right: 27px;
    background-image: url("../img/assortment-toys.svg");
    background-position: 0 0;
  }

  @media (min-width: $tablet-width) {
    transform: translateY(5px);

    &:hover,
    &:focus-within,
    &:active {
      transform: translateY(0);
    }

    &--toys .assortment__link::after {
      right: 34px;
    }
  }
}

.assortment__link {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  min-height: 103px;
  height: 100%;
  padding: 24px 112px 31px 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  align-items: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding: 26px 112px 36px 36px;
    font-size: 20px;
    line-height: 30px;
  }
}
