.card-product {
  &:hover &__info,
  &:focus &__info {
    box-shadow: 0 6px 10px rgba($basic-black, 0.1);
  }

  &:active &__info {
    box-shadow: 0 3px 5px rgba($basic-black, 0.1);
  }
}

.card-product__product-link {
  display: block;
}

.card-product__img {
  display: block;
  min-width: 260px;
  min-height: 195px;

  @media (min-width: $tablet-width) {
    min-width: 334px;
    min-height: 334px;
  }

  @media (min-width: $desktop-width) {
    min-width: 316px;
    min-height: 462px;
  }
}

.card-product__info {
  padding: 27px 27px 24px;
  border: 1px solid $catalog-item-line;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 27px 32px 18px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    padding: 27px 32px 18px 27px;
  }
}

.card-product__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.card-product__description {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-size: 13px;
  line-height: 30px;
  color: $basic-dark;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}

.card-product__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 23px;
  border-top: 1px solid $line-color;

  @media (min-width: $tablet-width) {
    margin-top: auto;
    padding-top: 24px;
  }
}

.card-product__price {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.card-product__add-to-cart .card-product__add-to-cart-icon {
  opacity: 0.2;
}

.card-product__add-to-cart:hover .card-product__add-to-cart-icon,
.card-product__add-to-cart:focus .card-product__add-to-cart-icon {
  fill: $special-cyan;
  opacity: 1;
}

.card-product__add-to-cart:active .card-product__add-to-cart-icon {
  opacity: 0.3;
}
