.contacts__wrapper {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 1150px;
    margin: 0 auto 105px;
    padding: 0 50px 0 224px;
  }
}

.contacts__inner {
  margin-bottom: 62px;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 59px 0 0;
  }
}

.contacts__title {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.contacts__table {
  font-size: 14px;
  line-height: 30px;
}

.contacts__table-body {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    display: flex;
  }
}

.contacts__table-row {
  &:not(:last-of-type) {
    @media (min-width: $tablet-width) {
      padding-right: 50px;
    }
  }
}

.contacts__table-cell {
  padding: 0;
  vertical-align: top;

  &:first-of-type {
    min-width: 76px;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 527px;
    grid-column: 2/-1;
    grid-row: 1/3;
    margin-bottom: 0;
  }
}

.contacts__button {
  margin: 0 30px;

  @media (min-width: $tablet-width) {
    width: fit-content;
    margin: 0 auto;
    padding: 16px 35px;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-end;
    margin: 0;
  }
}
