.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin: 0;
  margin-right: 27px;
  padding: 0;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $basic-black;

  @media (min-width: $desktop-width) {
    margin-right: 29px;
  }
}

.copyright__link {
  &:hover .copyright__link-img,
  &:focus .copyright__link-img {
    fill: $footer-elements-hover;
  }

  &:active .copyright__link-img {
    opacity: 0.3;
  }
}

.copyright__link-img {
  display: block;
  fill: $special-cyan;
}
