.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba($basic-white, 0.9);
  overflow-y: auto;
  z-index: 200;

  &--opened {
    display: flex;
  }
}

.modal__inner {
  width: 320px;
  padding: 29px 30px 46px;
  background-color: $basic-white;
  border: 1px solid $modal-border;
  box-shadow: 0 5px 10px rgba($modal-shadow, 0.25);

  @media (min-width: $tablet-width) {
    width: 566px;
    padding: 38px 108px 46px;
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 57px;

    &--add-to-cart br {
      display: none;
    }
  }
}

.modal__text {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  line-height: 30px;
  text-align: center;
}

.modal__form-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 31px;
}

.modal__form-option {
  flex-grow: 1;

  &:not(:last-of-type) {
    margin-right: 7px;
  }
}

.modal__form-input + .modal__form-label {
  display: block;
  padding: 18px 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgba($basic-dark, 0.1);
  cursor: pointer;

  &:hover,
  &:focus {
    border: 2px solid rgba($basic-dark, 0.3);
  }

  &:active {
    border: 2px solid $size-option-border-active;
  }
}

.modal__form-input:checked + .modal__form-label {
  border: 2px solid $size-option-border-active;
}

.modal__add-to-cart {
  width: 100%;
  color: $basic-white;
  background-color: $button-cyan;
  border: none;

  &:hover,
  &:focus,
  &:active {
    color: $basic-white;
    background-color: $button-cyan-active;
  }
}
