.order-form__fieldset {
  border: none;
}

.order-form__legend {
  position: relative;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-cyan;
}

.order-form__legend::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: $form-legeng-line;
}

.order-form__legend--radio {
  padding-bottom: 30px;
}

.order-form__list {
  @include list-reset;
  margin-bottom: 30px;
}

.order-form__option {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $basic-black;
}

.order-form__option:not(:last-of-type) {
  margin-bottom: 12px;
}

.order-form__label {
  position: relative;
  cursor: pointer;
}

.order-form__label--radio,
.order-form__label--checkbox {
  padding-left: 61px;
}

.order-form__input--radio + .order-form__label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 42px;
  height: 42px;
  border: 2px solid $basic-dark;
  border-radius: 50%;
  transform: translateY(-50%);
}

.order-form__input--radio + .order-form__label:hover::before,
.order-form__input--radio + .order-form__label:focus::before {
  border: 2px solid $form-input;
}

.order-form__input--radio + .order-form__label:active::before {
  border: 2px solid rgba($basic-black, 0.3);
}

.order-form__input--radio:checked + .order-form__label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  width: 23px;
  height: 23px;
  background-color: $form-input;
  border-radius: 50%;
  transform: translateY(-50%);
}

.order-form__input--checkbox + .order-form__label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 52px;
  height: 52px;
  border: 2px solid $basic-dark;
  transform: translateY(-50%);
}

.order-form__input--checkbox + .order-form__label:hover::before,
.order-form__input--checkbox + .order-form__label:focus::before {
  border: 2px solid $form-input;
}

.order-form__input--checkbox + .order-form__label:active::before {
  border: 2px solid rgba($basic-black, 0.3);
}

.order-form__input-text {
  padding-bottom: 17px;
  font-family: $font-family;
  font-size: 19px;
  line-height: 18px;
  color: $basic-dark;
  border: none;
  box-shadow: inset 0 -2px 0 $basic-black;

  &:hover,
  &:focus {
    box-shadow: inset 0 -2px 0 $form-legeng-line;
  }
}

.order-form__input-text::placeholder {
  font-family: $font-family;
  font-size: 19px;
  line-height: 18px;
  color: rgba($basic-black, 0.3);
}

.order-form__input-text--phone,
.order-form__input-text--email {
  margin-bottom: 34px;
}

.order-form__textarea {
  padding: 17px;
  border: 2px solid $basic-dark;
  resize: none;
}

.order-form__textarea::placeholder {
  font-family: $font-family;
  font-size: 19px;
  line-height: 18px;
  color: $basic-dark;
}

.order-form__additional-note {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  color: $basic-dark;
}

.order-form__button {
  margin-bottom: 55px;
}
