.order-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.order-form__fieldset-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 170px 1fr;
  }
}

.order-form__legend {
  position: relative;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-cyan;

  @media (min-width: $tablet-width) {
    padding-right: 50px;

    &::before {
      display: none;
    }
  }
}

.order-form__legend::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: $form-legeng-line;
}

.order-form__legend--radio {
  padding-bottom: 30px;
}

.order-form__list {
  @include list-reset;
  margin-bottom: 30px;

  &--checkbox {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.order-form__option {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $basic-black;

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }

  &--text:not(:last-of-type) {
    margin-bottom: 22px;
  }

  @media (min-width: $tablet-width) {
    &--text {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.order-form__label {
  display: block;
  position: relative;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    &--text {
      padding-right: 25px;
    }
  }
}

.order-form__label--radio,
.order-form__label--checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 61px;
}

.order-form__label--radio {
  min-height: 42px;
}

.order-form__input--radio + .order-form__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  border: 2px solid $basic-dark;
  border-radius: 50%;
}

.order-form__input--radio + .order-form__label:hover::before,
.order-form__input--radio + .order-form__label:focus::before {
  border: 2px solid $form-input;
}

.order-form__input--radio + .order-form__label:active::before {
  border: 2px solid rgba($basic-black, 0.3);
}

.order-form__input--radio:checked + .order-form__label::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 23px;
  height: 23px;
  background-color: $form-input;
  border-radius: 50%;
}


.order-form__label--checkbox {
  min-height: 38px;
}

.order-form__input--checkbox + .order-form__label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 38px;
  height: 38px;
  border: 2px solid $basic-dark;
  transform: translateY(-50%);
}

.order-form__input--checkbox + .order-form__label:hover::before,
.order-form__input--checkbox + .order-form__label:focus::before {
  border: 2px solid $form-input;
}

.order-form__input--checkbox + .order-form__label:active::before {
  border: 2px solid rgba($basic-black, 0.3);
}


.order-form__input-text {
  padding-bottom: 17px;
  font-family: $font-family;
  font-size: 19px;
  line-height: 18px;
  color: $basic-dark;
  border: none;
  box-shadow: inset 0 -2px 0 $basic-black;

  &:hover,
  &:focus {
    box-shadow: inset 0 -2px 0 $form-legeng-line;
  }
}

.order-form__input-text::placeholder {
  font-family: $font-family;
  font-size: 19px;
  line-height: 18px;
  color: rgba($basic-black, 0.3);
}

.order-form__input-text--phone,
.order-form__input-text--email {
  margin-bottom: 34px;
}


.order-form__textarea {
  width: 100%;
  min-height: 142px;
  margin-bottom: 17px;
  padding: 17px;
  border: 2px solid $basic-dark;
  resize: none;
}

.order-form__textarea::placeholder {
  font-family: $font-family;
  font-size: 19px;
  line-height: 18px;
  color: $basic-dark;
}


.order-form__button {
  width: 100%;
}


.order-form__additional-note {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  color: $basic-dark;
}
