.page-header {
  border-bottom: 1px solid $line-color;

  @media (max-width: $tablet-width - 1) {
    box-shadow: inset 0 1px 0 $line-color;
  }
}

.page-header__wrapper {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    z-index: 1;
  }
}
