.page-main-header {
  background-color: $page-main-header-background;

  @media (min-width: $tablet-width) {
    &--zigzag {
      position: relative;
    }

    &--zigzag::after {
      content: "";
      position: absolute;
      bottom: -14px;
      left: 0;
      right: 0;
      height: 24px;
      background-image: url("../img/assortment-zigzag-tablet.svg");
      background-repeat: repeat-x;
      background-position: 0 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--zigzag::after {
      height: 34px;
      bottom: -19px;
      background-image: url("../img/assortment-zigzag-desktop.svg");
      background-position: center 0;
      background-size: 1254px 34px;
    }
  }
}

.page-main-header__wrapper {
  margin: 0 auto 30px;
  padding: 73px 30px 73px;
  text-align: center;

  &--page-knitting-to-order {
    margin-bottom: 17px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    padding: 102px 50px 73px;

    &--page-knitting-to-order {
      margin-bottom: 68px;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    margin-bottom: 131px;
    padding: 102px 50px 93px;

    &--page-knitting-to-order {
      margin-bottom: 119px;
    }
  }
}

.page-main-header__title {
  margin: 0;
}
