.page-main-header {
  background-color: $page-main-header-background;
}

.page-main-header__wrapper {
  margin: 0 auto 17px;
  padding: 73px 30px 74px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
    padding: 102px 50px 73px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    margin-bottom: 118px;
    padding: 103px 50px 94px;
  }
}

.page-main-header__title {
  margin: 0;
}
