.production-process--with-border {
  border: 1px solid $catalog-item-line;
}

.production-process__title {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
}

.production-process__video {
  margin-bottom: 35px;
}

.production-process__text {
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
}

.production-process__make-order {
  margin-bottom: 58px;
}
