.production-process__wrapper {
  margin: 0 auto 58px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: max-content;
    margin: 0 auto 105px;
  }
}

.production-process__title {
  margin: 0;
  padding: 22px 13px 27px 91px;
  border: 1px solid $line-color;
  border-bottom: none;

  @media (min-width: $tablet-width) {
    padding: 41px 20px 24px 106px;
  }

  @media (min-width: $desktop-width) {
    padding: 96px 56px 27px 78px;
  }
}

.production-process__video {
  display: block;

  @media (min-width: $tablet-width) {
    order: -1;
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1;
    grid-row: 1/3;
    width: 683px;
    height: 455px;
  }
}

.production-process__info {
  padding: 34px 32px 32px 33px;
  border: 1px solid $line-color;
  border-top: none;

  @media (min-width: $tablet-width) {
    padding: 0 41px 44px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 56px 44px 78px;
  }
}

.production-process__text {
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }
}
