.section-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.section-title--smaller {
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.section-title--small {
  @media (max-width: $tablet-width - 1) {
    font-size: 18px;
  }
}

.section-title--big {
  @media (max-width: $tablet-width - 1) {
    font-size: 27px;
  }
}
