.section-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;
}

.section-title--smaller {
  font-size: 17px;
  line-height: 24px;
}

.section-title--small {
  font-size: 18px;
}

.section-title--big {
  font-size: 27px;
}
