.site-list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    grid-area: site-list;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.site-list__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-of-type) {
      margin-right: 35px;
    }
  }
}

.site-list__item--new-arrivals,
.site-list__item--sale {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

// .site-list__item:not(:last-of-type) {
//   box-shadow: 0px 1px 0px $menu-shadow, inset 0px 1px 0px $menu-shadow;
// }

.site-list__item a {
  display: block;
  padding: 28px 76px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
