.social__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social__item {
  &:not(:last-of-type) {
    margin-right: 41px;
  }

  &:hover path,
  &:focus path {
    fill: $footer-elements-hover;
  }

  &:active path {
    opacity: 0.3;
  }
}

.social__link,
.social__link-img {
  display: block;
}
