.user-list {
  @media (min-width: $tablet-width) {
    grid-area: user-list;
    grid-column: 1 / -1;
    justify-self: flex-end;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    justify-self: center;
  }
}

.user-list__item {
  display: block;
  padding: 28px 76px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}
