.week-product__wrapper {
  display: flex;
  flex-direction: column;
  //align-items: flex-start;
  max-width: 1150px;
  margin: 0 auto 31px;
  padding: 0 30px 42px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(5, max-content);
    column-gap: 42px;
    align-items: flex-start;
    margin-bottom: 56px;
    padding: 0 50px 69px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 58px;
    margin-bottom: 68px;
    padding: 0 50px 96px 224px;
  }
}

.week-product__heading-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    grid-row: 1 / 2;
    margin-bottom: 15px;
    padding-top: 61px;
  }
}

.week-product__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-cyan;

  @media (min-width: $tablet-width) {
    max-width: 100px;
    margin-top: -9px;
    padding-right: 27px;
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: -143px;
    padding-right: 0;
  }
}

.week-product__name {
  order: -1;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
}

.week-product__description {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.week-product__feautures {
  margin-bottom: 28px;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;

  & td {
    padding: 7px 0 12px;
    border-bottom: 1px solid $table-underline;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }
}

.week-product__feauture {
  width: 38%;

  @media (min-width: $tablet-width) {
    width: 33%;
  }
}

.week-product__img-wrapper {
  margin-bottom: 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    margin-bottom: 0;
    margin-top: auto;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    grid-row: 1 / -1;
    z-index: -1;
  }
}

.week-product__img {
  display: block;
}

.week-product__price {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 20px;
  }
}

.week-product__make-order {
  @media (min-width: $desktop-width) {
    align-self: flex-end;
  }
}
