$basic-white: #FFFFFF;
$basic-black: #000000;
$basic-dark: #444444;

$special-cyan: #63D1BB;

$assortment-item-decor-background: #63D1BB;
$assortment-item-decor-background-active: #59D5BC;
$assortment-item-toys-background: #56C3B2;
$assortment-item-toys-background-active: #46C1AE;

$link-underline: #62D1BA;
$link-underline-active: #46C1AE;

$menu-shadow: #ECECEC;

$table-underline: #ECECEC;

$footer-background: #F1F1F1;
$footer-social-line: #E5E5E5;
