// Colors
$basic-white: #ffffff;
$basic-black: #000000;
$basic-dark: #444444;

$special-cyan: #63d1bb;

$page-main-header-background: #f1f1f1;

$assortment-background: #f9f9f9;
$assortment-item-decor-background: #63d1bb;
$assortment-item-decor-background-active: #59d5bc;
$assortment-item-toys-background: #56c3b2;
$assortment-item-toys-background-active: #46c1ae;

$link-underline: #62d1ba;
$link-underline-active: #46c1ae;

$menu-shadow: #ececec;

$table-underline: #ececec;

$footer-background: #f1f1f1;
$footer-social-line: #e5e5e5;

$form-input: #62d1ba;
$form-legeng-line: #62d1ba;

$catalog-item-line: #ececec;

$size-option-border-active: #62d1ba;

$button-cyan: #63d1bb;
$button-cyan-active: #59d5bc;

$line-color:  #ececec;

$special-background-color: #f1f1f1;

// Font Family
$font-family: "Open Sans", "Arial", "Helvetica", sans-serif;

// Viewports
$tablet-width: 768px;
$desktop-width: 1150px;
